body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Spin */
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Color styles */
.gray-brown {
  color: #1e0d03;
}

.grey-5 {
  color: #919dba;
}

.white {
  color: #ffffff;
}

.yellow-1 {
  color: #ff993c;
}

.yellow-3 {
  color: #ffba7b;
}

.promomote {
  color: #03ac00;
}

.end {
  color: #fd5959;
}

/* Background color styles*/
.bg-white {
  background-color: #ffffff;
}

.bg-yellow-3 {
  background: #ffba7b;
}

.bg-grey-2 {
  background: #f1f4f8;
}

.bg-grey-4 {
  background: #f7f8fb;
}

.bg-yellow-1 {
  background: #ff993c;
}

/* Text styles */
.text-normal {
  font-family: "Montserrat";
  font-style: normal;
}

.text-italic {
  font-family: "Montserrat";
  font-style: italic;
}

.regular-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.bold-36 {
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 54px !important;
}

.bold-24 {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 30px !important;
}

.bold-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.medium-18 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.medium-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.medium-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.medium-12 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.italic-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.italic-medium-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.semibold-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.semibold-16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

/* opacity */
.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

/* flex */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button */
.button-no-background.ant-btn.ant-btn-lg {
  padding: 4px 12px;
  background: none;
  border: 1px solid #ff993c;
  border-radius: 6px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-no-background.ant-btn-primary:not(:disabled):hover {
  color: #ffb800;
  opacity: 0.7;
  border-color: #ffb800;
  background-color: inherit;
}

.ant-btn-primary:not(:disabled):hover {
  background: #ffb800;
  opacity: 0.7;
}

/* dropdown */
.ant-dropdown .ant-dropdown-arrow:before,
.ant-dropdown .ant-dropdown-menu {
  background: #ffd2a8;
}

/* icon */
.i-search {
  font-size: 24px;
  color: #1e0d03;
}

.i-filter {
  font-size: 24px;
  color: #ff993c;
}

/* Search */
.search-ticket {
  background: #f7f7f8;
  width: 446px;
  height: 48px;
  border-radius: 8px;
  border: none;
}

.search-ticket .ant-input {
  background-color: #f7f7f8;
  font-style: inherit;
}
